BasedOnStyle: LLVM
Language: Cpp
Standard: Latest
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
PointerAlignment: Left
ReferenceAlignment: Left
SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
NamespaceIndentation: None
ReflowComments: true
